{"filter":false,"title":"01-opencv-libs.config","tooltip":"/.ebextensions/01-opencv-libs.config","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1764937606464,"hash":"2ea095889ca4ed588265fd685e18cfd6f53657dd"}