{"filter":false,"title":"python.config","tooltip":"/.ebextensions/python.config","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":42,"mode":"ace/mode/text"}},"timestamp":1764937608301,"hash":"1cf9645c4515ad12d0d4615c0315197f95c1ac43"}