name: Django CI/CD to Elastic Beanstalk

on:
  push:
    branches:
      - main

jobs:

  # ============================================================
  # 1️⃣ PREBUILD STAGE
  # ============================================================
  prebuild:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Install OS dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y jq unzip wget


  # ============================================================
  # 4️⃣ PACKAGE ARTIFACT
  # ============================================================
  package:
    runs-on: ubuntu-latest
    needs: sonar_scan

    steps:
      - uses: actions/checkout@v3

      - name: Create ZIP for Elastic Beanstalk
        run: |
          zip -r deploy.zip . -x "*.git*" ".github/*"

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: deploy-package
          path: deploy.zip


  # ============================================================
  # 5️⃣ DEPLOY TO ELASTIC BEANSTALK
  # ============================================================
  deploy:
    runs-on: ubuntu-latest
    needs: package

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: deploy-package

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Deploy to Elastic Beanstalk
        uses: einaregilsson/beanstalk-deploy@v21
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          application_name: Devops-x23300841-eb
          environment_name: Devops-x23300841-eb-env
          region: us-east-1
          deployment_package: deploy.zip
          version_label: "build-${{ github.run_number }}"
          wait_for_deployment: true
